<div class="products-container">
  <h2>Gestión de Productos</h2>

  <form (ngSubmit)="addProduct()">
    <h3>Agregar Nuevo Producto</h3>
    <div class="form-group">
      <label for="codigo">Código:</label>
      <input type="text" id="codigo" [(ngModel)]="newProduct.codigo_producto" name="codigo" required>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="newProduct.nombre_producto" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" id="precio" [(ngModel)]="newProduct.precio" name="precio" required>
    </div>
    <button type="submit">Agregar Producto</button>
  </form>

  <hr>

  <h3>Lista de Productos</h3>
  <div class="product-grid">
    <div *ngFor="let product of products" class="product-card">
      <div class="product-image-container">
        <img src="https://via.placeholder.com/250" alt="{{ product.nombre_producto }}">
      </div>
      <div class="product-info">
        <h3 class="product-name">{{ product.nombre_producto }}</h3>
        <p class="product-price">${{ product.precio }}</p>
        <button class="add-to-cart">Ver Detalles</button>
      </div>
    </div>
  </div>
</div>
