<div class="users-container">
  <h2>Gestión de Usuarios</h2>

  <form (ngSubmit)="addUser()">
    <h3>Agregar Nuevo Usuario</h3>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="newUser.nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" [(ngModel)]="newUser.usuario" name="usuario" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="newUser.telefono" name="telefono" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="newUser.password" name="password" required>
    </div>
    <button type="submit">Agregar Usuario</button>
  </form>

  <hr>

  <h3>Lista de Usuarios</h3>
  <div class="user-grid">
    <div *ngFor="let user of users" class="user-card">
      <img src="https://via.placeholder.com/100" alt="Avatar de Usuario" class="user-avatar">
      <h3 class="user-name">{{ user.nombre }}</h3>
      <p class="user-email">{{ user.usuario }}</p>
      <p class="user-phone">{{ user.telefono }}</p>
      </div>
  </div>
</div>
